# Lesson 4.4 - Solutions for Walkthrough & Independant Practice

Here's the situation - your working with a Postgre Database at a large wine distributor who needs you to maintain their database. You'll use some of your advanced SQl skills to take care of customer cases. Let's begin! 

GA provided database credentials:

psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
password: gastudents

First, let's load in the ipython sql extension so that we can use sql within the ipython notebook.

In [2]:
#Connect to the remote database with paramaters provided
import pandas as pd
#import psycopg2 
import sqlalchemy


engine = sqlalchemy.create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind')

# This can work but sometime there are issues with the connection being specifically supported by psql
# params = {
#   'dbname': 'northwind',
#   'user': 'dsi_student',
#   'password': 'gastudents',
#   'host': 'dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com',
#   'port': 5432
# }

# conn = psycopg2.connect(**params)

Let's check out the schema and tables of northwind database: https://northwinddatabase.codeplex.com/

In [3]:
pd.read_sql_query('SELECT DISTINCT(table_schema) FROM information_schema.tables\
                          ORDER BY 1;',con=engine)

         table_schema
0  information_schema
1          pg_catalog
2              public

In [4]:
#View tables in this database

pd.read_sql("SELECT table_schema,table_name, table_type FROM  information_schema.tables WHERE table_schema = 'public';",con=engine)

   table_schema            table_name  table_type
0        public            categories  BASE TABLE
1        public  customercustomerdemo  BASE TABLE
2        public  customerdemographics  BASE TABLE
3        public             customers  BASE TABLE
4        public             employees  BASE TABLE
5        public   employeeterritories  BASE TABLE
6        public         order_details  BASE TABLE
7        public                orders  BASE TABLE
8        public              products  BASE TABLE
9        public                region  BASE TABLE
10       public              shippers  BASE TABLE
11       public          shippers_tmp  BASE TABLE
12       public             suppliers  BASE TABLE
13       public           territories  BASE TABLE
14       public              usstates  BASE TABLE
15       public                table1  BASE TABLE
16       public                movies  BASE TABLE
17       public               ratings  BASE TABLE

Check the database for syntax and helpful queries for when things go wrong!

In [5]:
pd.read_sql_query("SELECT * FROM order_details LIMIT 10", con=engine)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12      0.00
1    10248         42        9.8        10      0.00
2    10248         72       34.8         5      0.00
3    10249         14       18.6         9      0.00
4    10249         51       42.4        40      0.00
5    10250         41        7.7        10      0.00
6    10250         51       42.4        35      0.15
7    10250         65       16.8        15      0.15
8    10251         22       16.8         6      0.05
9    10251         57       15.6        15      0.05

In [6]:
pd.read_sql_query("SELECT * FROM products LIMIT 3", con=engine)

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.0,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0,13,70,25,0

## WALK THORUGH FUNCTIONS WE REVIEWED TODAY
*Consider remove "LIMIT 10" clause at the end of each sql statement, I included for readibility

In [7]:
#Leverage CASE statement to label products that have been discontinued
wt_query0 = """\
SELECT "City",
 CASE WHEN "City" = 'Berlin' THEN 'one'
 ELSE NULL END AS "New City"
 FROM customers
 LIMIT 10;
"""

pd.read_sql(wt_query0, engine)

          City New City
0       Berlin      one
1  México D.F.     None
2  México D.F.     None
3       London     None
4        Luleå     None
5     Mannheim     None
6   Strasbourg     None
7       Madrid     None
8    Marseille     None
9    Tsawassen     None

In [8]:
#Leverage HAVE to find only products with average price greater than 15
wt_query1 = """\
SELECT "ProductID", avg("UnitPrice")
FROM order_details
GROUP BY 1
HAVING avg("UnitPrice") > 15
LIMIT 10;
"""

pd.read_sql(wt_query1, engine)

   ProductID        avg
0         43  43.042857
1          8  38.769231
2         11  19.600000
3         39  16.680000
4         16  16.376745
5         61  27.787500
6         14  21.347727
7         17  36.470271
8         28  41.975757
9         36  17.896774

In [9]:
#Concat
wt_query3 = """\
SELECT CONCAT("City", "Country")
FROM customers
LIMIT 10;
"""

pd.read_sql(wt_query3, engine)

              concat
0      BerlinGermany
1  México D.F.Mexico
2  México D.F.Mexico
3           LondonUK
4        LuleåSweden
5    MannheimGermany
6   StrasbourgFrance
7        MadridSpain
8    MarseilleFrance
9    TsawassenCanada

In [11]:
#Lower
wt_query4 = """\
SELECT LOWER("City") FROM customers
LIMIT 10; 
"""

pd.read_sql(wt_query4, engine)

         lower
0       berlin
1  méxico d.f.
2  méxico d.f.
3       london
4        luleå
5     mannheim
6   strasbourg
7       madrid
8    marseille
9    tsawassen

## INDEPENDENT PRACTICE SOLUTIONS

In [28]:
#query to check to make sure table names are accurate
query_0 = """
SELECT * 
FROM order_details
LIMIT 1
"""

query_1 = """
SELECT count("OrderID") \
from order_details;"""

print pd.read_sql_query(query_0, con=engine) #look at column names
print 'number of non-unique records in OrderID column: \n', pd.read_sql_query(query_1, con=engine)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
number of non-unique records in OrderID column:
   count
0   2155

**1. Order Subtotals**

For each order, calculate a subtotal for each Order (identified by OrderID). 

Comments for solution Query: This can be done with query using GROUP BY to aggregate data for each order.

In [100]:
query_q1 = """\
select "OrderID", 
    sum("UnitPrice" * "Quantity" * (1 - "Discount")) as "Subtotal"
from order_details
group by 1
order by 1
LIMIT 10;
"""
pd.read_sql_query(query_q1, con=engine) #look at column names

   OrderID     Subtotal
0    10248   439.999998
1    10249  1863.400064
2    10250  1552.600023
3    10251   654.059986
4    10252  3597.900145
5    10253  1444.799984
6    10254   556.620010
7    10255  2490.499978
8    10256   517.800007
9    10257  1119.899954

**Questions 2: Alphabetical List of Products**

Learn more about the products they have on stock in their store. Are you interested in all the products? Even the discontinued ones?

This is a rather simple query to get an alphabetical list of products.

In [15]:
query_q2 = """\
SELECT b.*, a."CategoryName"
from Categories a 
inner join Products b ON a."CategoryID" = b."CategoryID"
where b."Discontinued" = 0
order by b."ProductName"
LIMIT 50;
"""

pd.read_sql_query(query_q2, engine)

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued,CategoryName
0,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0,Condiments
1,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.40,123,0,30,0,Seafood
2,60,Camembert Pierrot,28,4,15 - 300 g rounds,34.00,19,0,0,0,Dairy Products
3,18,Carnarvon Tigers,7,8,16 kg pkg.,62.50,42,0,0,0,Seafood
4,39,Chartreuse verte,18,1,750 cc per bottle,18.00,69,0,5,0,Beverages
5,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0,Condiments
6,48,Chocolade,22,3,10 pkgs.,12.75,15,70,25,0,Confections
7,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.50,17,0,15,0,Beverages
8,58,Escargots de Bourgogne,27,8,24 pieces,13.25,62,0,20,0,Seafood
9,52,Filo Mix,24,5,16 - 2 kg boxes,7.00,38,0,25,0,Grains/Cereals
10,71,Flotemysost,15,4,10 - 500 g pkgs.,21.50,26,0,0,0,Dairy Products
11,33,Geitost,15,4,500 g,2.50,112,0,20,0,Dairy Products
12,15,Genen Shouyu,6,2,24 - 250 ml bottles,13.00,39,0,5,0,Condiments
13,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38.00,21,10,30,0,Grains/Cereals
14,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.50,0,70,20,0,Dairy Products
15,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00,120,0,25,0,Condiments
16,37,Gravad lax,17,8,12 - 500 g pkgs.,26.00,11,50,25,0,Seafood
17,69,Gudbrandsdalsost,15,4,10 kg pkg.,36.00,26,0,15,0,Dairy Products
18,44,Gula Malacca,20,2,20 - 2 kg bags,19.45,27,0,15,0,Condiments
19,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23,15,0,0,0,Confections
20,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21.00,104,0,25,0,Grains/Cereals
21,10,Ikura,4,8,12 - 200 ml jars,31.00,31,0,0,0,Seafood
22,36,Inlagd Sill,17,8,24 - 250 g jars,19.00,112,0,20,0,Seafood
23,43,Ipoh Coffee,20,1,16 - 500 g tins,46.00,17,10,25,0,Beverages
24,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65,85,0,10,0,Seafood
25,13,Konbu,6,8,2 kg box,6.00,24,0,5,0,Seafood
26,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0,Beverages
27,67,Laughing Lumberjack Lager,16,1,24 - 12 oz bottles,14.00,52,0,10,0,Beverages
28,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0,Produce
29,65,Louisiana Fiery Hot Pepper Sauce,2,2,32 - 8 oz bottles,21.05,76,0,0,0,Condiments
30,66,Louisiana Hot Spiced Okra,2,2,24 - 8 oz jars,17.00,4,100,20,0,Condiments
31,51,Manjimup Dried Apples,24,7,50 - 300 g pkgs.,53.00,20,0,10,0,Produce
32,32,Mascarpone Fabioli,14,4,24 - 200 g pkgs.,32.00,9,40,25,0,Dairy Products
33,49,Maxilaku,23,3,24 - 50 g pkgs.,20.00,10,60,15,0,Confections
34,72,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80,14,0,0,0,Dairy Products
35,30,Nord-Ost Matjeshering,13,8,10 - 200 g glasses,25.89,10,0,15,0,Seafood
36,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00,6,0,0,0,Condiments
37,25,NuNuCa Nuß-Nougat-Creme,11,3,20 - 450 g glasses,14.00,76,0,30,0,Confections
38,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0,Condiments
39,70,Outback Lager,7,1,24 - 355 ml bottles,15.00,15,10,30,0,Beverages
40,55,Pâté chinois,25,6,24 boxes x 2 pies,24.00,115,0,20,0,Meat/Poultry
41,16,Pavlova,7,3,32 - 500 g boxes,17.45,29,0,10,0,Confections
42,11,Queso Cabrales,5,4,1 kg pkg.,21.00,22,30,30,0,Dairy Products
43,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00,86,0,0,0,Dairy Products
44,59,Raclette Courdavault,28,4,5 kg pkg.,55.00,79,0,0,0,Dairy Products
45,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.50,36,0,20,0,Grains/Cereals
46,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0,Beverages
47,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0,Seafood
48,45,Rogede sild,21,8,1k pkg.,9.50,5,70,15,0,Seafood
49,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14.00,111,0,15,0,Beverages

**Question 3:  Sales by Year**

Find the subtotal of order by ship year.

This query shows how to get the year part from Shipped_Date column. A subtotal is calculated by a sub-query for each order. The sub-query forms a table and then joined with the Orders table.

In [102]:
query_q3 = """\
SELECT agg_tmp.Year, SUM(agg_tmp.subtotal)
FROM 
(select distinct date(a."ShippedDate") as ShippedDate, 
    a."OrderID", 
    b.Subtotal, 
    date_part('year', DATE(a."ShippedDate")) as Year 
from Orders a 
inner join
(
    -- Get subtotal for each order
    select distinct "OrderID", 
        sum("UnitPrice" * "Quantity" * (1 - "Discount")) as Subtotal
    from order_details
    group by "OrderID"    
) b on a."OrderID" = b."OrderID"
where a."ShippedDate" is not null
    and a."ShippedDate" between date('1996-12-24') and date('1997-09-30')
order by a."ShippedDate") AS agg_tmp
GROUP BY agg_tmp.Year;
"""
    
pd.read_sql_query(query_q3, engine)

     year            sum
0  1997.0  433678.299608
1  1996.0    5502.640011

Question 4: 

More on sales and products, especially after discounts

a) Find sales price by product after discount
b) Then find the highest grossing products, after discount

This query calculates sales price for each order after discount is applied.

In [17]:
query_q4a = """\
select distinct y."OrderID", 
    y."ProductID", 
    x."ProductName", 
    y."UnitPrice", 
    y."Quantity", 
    y."Discount", 
    y."UnitPrice" * y."Quantity" * (1 - y."Discount") as ExtendedPrice
from Products x
inner join Order_Details y on x."ProductID" = y."ProductID"
order by y."OrderID"
LIMIT 10;"""

pd.read_sql_query(query_q4a, engine)

,OrderID,ProductID,ProductName,UnitPrice,Quantity,Discount,extendedprice
0,10248,42,Singaporean Hokkien Fried Mee,9.8,10,0.00,98.000002
1,10248,11,Queso Cabrales,14.0,12,0.00,168.000000
2,10248,72,Mozzarella di Giovanni,34.8,5,0.00,173.999996
3,10249,51,Manjimup Dried Apples,42.4,40,0.00,1696.000061
4,10249,14,Tofu,18.6,9,0.00,167.400003
5,10250,41,Jack's New England Clam Chowder,7.7,10,0.00,76.999998
6,10250,65,Louisiana Fiery Hot Pepper Sauce,16.8,15,0.15,214.199989
7,10250,51,Manjimup Dried Apples,42.4,35,0.15,1261.400037
8,10251,65,Louisiana Fiery Hot Pepper Sauce,16.8,20,0.00,335.999985
9,10251,22,Gustaf's Knäckebröd,16.8,6,0.05,95.759996

In [104]:
query_q4b = """\
SELECT productname, sum(extendedprice), avg(extendedprice)
FROM(
select distinct y."OrderID", 
    y."ProductID", 
    x."ProductName" as productname, 
    y."UnitPrice", 
    y."Quantity", 
    y."Discount", 
    y."UnitPrice" * y."Quantity" * (1 - y."Discount") as extendedprice
from Products x
inner join Order_Details y on x."ProductID" = y."ProductID"
order by y."OrderID") tmp_prods
GROUP BY tmp_prods.productname
ORDER BY 2 DESC
LIMIT 10;"""

pd.read_sql_query(query_q4b, engine)

               productname            sum          avg
0            Côte de Blaye  141396.735627  5891.530651
1  Thüringer Rostbratwurst   80368.672439  2511.521014
2     Raclette Courdavault   71155.699909  1317.698146
3           Tarte au sucre   47234.969979   984.061875
4        Camembert Pierrot   46825.480295   918.146672
5   Gnocchi di nonna Alice   42593.059822   851.861196
6    Manjimup Dried Apples   41819.650246  1072.298724
7             Alice Mutton   32698.380216   883.740006
8         Carnarvon Tigers   29171.874963  1080.439813
9        Rössle Sauerkraut   25696.639789   778.686054

**Question 5: Customers and Suppliers by City**

What type of relationships do you have in each city? Your sales teams wants to know so they can better allocate regions and hire more staff.

HINT: UNION and consider adding a new constant from both tables to distingish between table joined

In [105]:
query_q5 = """\
select "City", "CompanyName", "ContactName", 'Customers' as Relationship 
from Customers
union
select "City", "CompanyName", "ContactName", 'Suppliers'
from Suppliers
order by 1, 2
LIMIT 10;
"""

pd.read_sql_query(query_q5, engine)

           City                   CompanyName       ContactName relationship
0        Aachen      Drachenblut Delikatessen      Sven Ottlieb    Customers
1   Albuquerque    Rattlesnake Canyon Grocery      Paula Wilson    Customers
2     Anchorage        Old World Delicatessen     Rene Phillips    Customers
3     Ann Arbor     Grandma Kelly's Homestead     Regina Murphy    Suppliers
4        Annecy                  Gai pâturage        Eliane Noz    Suppliers
5         Århus                  Vaffeljernet       Palle Ibsen    Customers
6     Barcelona        Galería del gastrónomo  Eduardo Saavedra    Customers
7  Barquisimeto             LILA-Supermercado   Carlos González    Customers
8          Bend             Bigfoot Breweries     Cheryl Saylor    Suppliers
9       Bergamo  Magazzini Alimentari Riuniti  Giovanni Rovelli    Customers

**Question 6: Find the products sold and total sale by category and product name**

For each category, we get the list of products sold and the total sales amount. 

Comments for solution Query: Note that, the inner query for the nested table (i.e. "nested_table") is to get sales for each product on each order. It then joins with outer query on Product_ID. In the outer query, products are grouped for each category.

In [106]:
query_q6 = """
select distinct a."CategoryID", 
    a."CategoryName", 
    b."ProductName", 
    sum(nested_table.extendedprice) as ProductSales
from Categories a 
inner join Products b on a."CategoryID" = b."CategoryID"
inner join 
(
    select distinct y."OrderID", 
        y."ProductID", 
        x."ProductName", 
        y."UnitPrice", 
        y."Quantity", 
        y."Discount", 
        y."UnitPrice" * y."Quantity" * (1 - y."Discount") as extendedprice
    from Products x
    inner join Order_Details y on x."ProductID" = y."ProductID"
    order by y."OrderID"
) nested_table on nested_table."ProductID" = b."ProductID"
inner join Orders d on d."OrderID" = nested_table."OrderID"
where d."OrderDate" between date('1997/1/1') and date('1997/12/31')
group by a."CategoryID", a."CategoryName", b."ProductName"
order by a."CategoryName", b."ProductName", ProductSales
LIMIT 10;
"""

pd.read_sql_query(query_q6, engine)

   CategoryID CategoryName                ProductName  productsales
0           1    Beverages                       Chai   4886.999978
1           1    Beverages                      Chang   7038.549960
2           1    Beverages           Chartreuse verte   4475.699980
3           1    Beverages              Côte de Blaye  49198.085323
4           1    Beverages         Guaraná Fantástica   1630.124983
5           1    Beverages                Ipoh Coffee  11069.899967
6           1    Beverages               Lakkalikööri   7379.099960
7           1    Beverages  Laughing Lumberjack Lager    910.000000
8           1    Beverages              Outback Lager   5468.399995
9           1    Beverages       Rhönbräu Klosterbier   4485.544982

**Question 7: How many units are in stock by category and supplier continent?**

HINT: USE "IN", "CASE" , "GROUP BY"
Use the case statement to transform countries into continent allocations

Comments for solution Query:  This query shows that case statement is used in GROUP BY clause to list the number of units in stock for each product category and supplier's continent. Note that, if only s.Country (not the case statement) is used in the GROUP BY, duplicated rows will exist for each product category and supplier continent.

In [107]:
query_q7 = """\
select c."CategoryName" as "Product Category", 
       case when s."Country" in 
                 ('UK','Spain','Sweden','Germany','Norway',
                  'Denmark','Netherlands','Finland','Italy','France')
            then 'Europe'
            when s."Country" in ('USA','Canada','Brazil') 
            then 'America'
            else 'Asia-Pacific'
        end as "Supplier Continent", 
        sum(p."UnitsInStock") as UnitsInStock
from Suppliers s 
inner join Products p on p."SupplierID" = s."SupplierID"
inner join Categories c on c."CategoryID" = p."CategoryID" 
group by c."CategoryName", 
         case when s."Country" in 
                 ('UK','Spain','Sweden','Germany','Norway',
                  'Denmark','Netherlands','Finland','Italy','France')
              then 'Europe'
              when s."Country" in ('USA','Canada','Brazil') 
              then 'America'
              else 'Asia-Pacific'
         end;
"""

pd.read_sql(query_q7, engine)

   Product Category Supplier Continent  unitsinstock
0           Produce             Europe            26
1         Beverages       Asia-Pacific            32
2       Confections             Europe           340
3    Grains/Cereals       Asia-Pacific            64
4    Dairy Products             Europe           393
5      Meat/Poultry       Asia-Pacific            29
6       Confections            America            17
7           Produce            America            15
8        Condiments       Asia-Pacific            90
9           Seafood       Asia-Pacific            97
10          Seafood            America           208
11       Condiments            America           372
12        Beverages             Europe           324
13          Produce       Asia-Pacific            59
14     Meat/Poultry            America           136
15      Confections       Asia-Pacific            29
16   Grains/Cereals             Europe           244
17       Condiments             Europe            45
18          Seafood             Europe           396
19     Meat/Poultry             Europe             0
20        Beverages            America           203