# Creating a SQLite Database
Remember, SQLite is based on a file, not a server, so you will be creating an actual file. It's SUPER easy to do.

##### Step 1: Create a new sqlite file
Remember, if we connect to a non-existent database with sqlite3, it will simply create one.

In [1]:
import sqlite3

In [2]:
sqlite3.connect('new_sqliteDB.sqlite')

Check your Finder - you'll see this new file was created!

##### Step 2: Create a new table
We are going to use SQL Magic because it's the easiest way, in my opinion. So first let's load and connect.

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///new_sqliteDB.sqlite

u'Connected: None@new_sqliteDB.sqlite'

In [10]:
%%sql
CREATE TABLE new_table(
    col1 INT PRIMARY KEY,
    col2 TEXT,
    col3 TEXT)

Done.

[]

##### Step 3: Add stuff to your table

In [11]:
%%sql
INSERT INTO new_table VALUES
(1, 'text1', 'text1_a'),
(2, 'text2', 'text3_a'),
(3, 'text3', 'text3_a'),
(7, 7, 7)

4 rows affected.

[]

##### Let's see if it worked!
Notice it allowed us to use different datatypes in the columns

In [12]:
%sql SELECT * FROM new_table

Done.

[(1, u'text1', u'text1_a'),
 (2, u'text2', u'text3_a'),
 (3, u'text3', u'text3_a'),
 (7, u'7', u'7')]

# Creating a PostgreSQL Database
Since this is server-based, it's a bit more complicated

##### Step 1: Open Posgres.app
Open it normally like you would any app. This will activate a local server.

##### Step 2: Create a new database
- Part 1: Click on the Elephant in your computer's menu bar (this is Postgres.app)
- Part 2: Select "Open psql"
- Part 3: Type `CREATE DATABASE new_postgres;` and hit Enter 

Note: you can do this in the command line or using the BASH "!" magic in Python, but you'll have to look up how to set up your command line tools to do this.

##### Step 3: Create a connection string using your computer's username
We will use the "!" to connect to BASH, and use the command `"id -un"`, which will pull your username. We are saving it as "user". This saves as a List, so notice we call the actual username with `user[0]`.

In [13]:
user = !id -un #

In [14]:
connection_string = 'postgresql://' + user[0] + '@localhost:5432/new_postgres'
# Notice you don't need a password here because this is your own local server.

##### Step 4: Connect using this connection string
SQL Magic will allow you to use "local variables" (like `connection_string`) by using a $ before it.

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
%sql $connection_string

u'Connected: christopherpleasants@new_postgres'

##### Step 5: Create a new table
We are going to use SQL Magic again because it was so easy.

In [18]:
%%sql
CREATE TABLE new_table(
    colP1 INT PRIMARY KEY,
    colP2 TEXT,
    colP3 TEXT)

Done.

[]

##### Step 6: Add stuff to your table

In [19]:
%%sql
INSERT INTO new_table VALUES
(1, 'textP1', 'textP1_a'),
(2, 'textP2', 'textP3_a'),
(3, 'textP3', 'textP3_a'),
(7, 7, 7)

4 rows affected.

[]

##### Let's see if it worked!
Notice it allowed us to use different datatypes in the columns, too!

In [20]:
%sql SELECT * FROM new_table

4 rows affected.

[(1, u'textP1', u'textP1_a'),
 (2, u'textP2', u'textP3_a'),
 (3, u'textP3', u'textP3_a'),
 (7, u'7', u'7')]