**Section I: Import the data**

In [1]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster
from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn import cluster, datasets
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [4]:
mtcars = pd.read_csv("../../assets/datasets/mtcars.csv")
mtcars.head()

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

**Section II: Format the Data**

Convert to a Pandas Dataframe for our analysis

Loop through Cars List and Convert to Numeric. **HINT:** Reference the lesson for help with this!

Apply your functions, and append the results to the dataframe

Plot the Data. **HINT** Be sure to examine the different variables and how the relate to each other

In [ ]:
df.plot(kind='scatter',x=' ',y=' ')
## Try this for multiple variable combinations

Convert to Matrix

**Section III: Cluster the data**

Cluster two of the variables of your choice. Choose K based on your plots and the behavior of the data

Find the Silhoutte Score and plot